<nav class="navbar navbar-default" role="navigation" ng-controller="TabController as tabCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"> <img class="acme-logo"
                src="./img/portal_logo.png" alt="Acme Pty Ltd" />
            </a>
            <strong class="navbar-text">File Portal</strong>
        </div>
        <div class="navbar-section">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>