<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Upload/Download/Delete Documents</title>
</head>

<body ng-app="jsaUploadFileApp">
	<div class="generic-container">

		<div class="form-inline col-md-6" ng-controller="DatePickerController">
			<label>Enquiry Date</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup
					ng-model="current.fileUploadEnquiryDate" is-open="popup.opened"
					datepicker-options="dateOptions" show-button-bar="false"
					ng-required="true" close-text="Close" readonly /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
		<div class="form-inline col-md-6"></div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">List of Documents </span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>No.</th>
							<th>Value Date</th>
							<th>ApplicationCd</th>
							<th>Type</th>
							<th>SubType</th>
							<th>Description</th>
							<th>File Name</th>
							<th>File Type</th>
							<th width="100"></th>
							<th width="100"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in data.reports">

							<td>{{$index+1}}</td>
							<td>{{row.valueDate}}</td>
							<td>{{row.applicationCd}}</td>
							<td>{{row.type}}</td>
							<td>{{row.subtype}}</td>
							<td>{{row.description}}</td>
							<td>{{row.fileName}}</td>
							<td>{{row.fileType}}</td>
							<td><a
								href='/report/file-download/{{row.id}}'
								class="btn btn-success custom-width">download</a></td>
							<td class="text-center" ng-if="!current.displayDeleted"
								ng-click="$event.stopPropagation();deleteFileUpload(row.id, $index)"><a
								" class="btn btn-danger custom-width">delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default">

			<div class="panel-heading">
				<span class="lead">Upload New Document</span>
			</div>
			<div class="uploadcontainer">
				<form:form method="POST" 	class="form-horizontal">

					<br>

					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-sm-3 control-lable" for="application Cd">Application Cd</label>
							<div class="col-md-5">
								<input  type="text"	ng-model="current.applicationCd"  />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-sm-3 control-lable" for="type">Type</label>
							<div class="col-md-5">
								<input  type="text"	ng-model="current.type"  />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-sm-3 control-lable" for="subtype">Sub Type</label>
							<div class="col-md-5">
								<input  type="text"	ng-model="current.subtype"  />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-sm-3 control-lable" for="fileDescription">Description</label>
							<div class="col-md-5">
								<input  type="text"	ng-model="current.fileDescription"  />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<label class="col-md-3 control-lable" for="file">Upload a document</label>
							<div class="col-md-4">
								<input class="form-control input-sm" type="file"	file-model="current.uploadedFile" placeholder="Upload File"></input>
								<div class="has-error">
									<form:errors path="file" class="help-inline"/>
								</div>
							</div>

							<div class="form-actions floatRight">
								<input type="submit" value="Upload"  ng-click="uploadFile()"  class="btn btn-primary btn-sm">
							</div>
							
						</div>
					</div>

				</form:form>
			</div>

		</div>
	</div>
</body>
</html>